.btn {
    width: 162px;
    height: 40px;
    border-radius: 8px;
}

.btn-fill {
    background-color: #ff9138;
    color: #fff;
}

.btn-outline {
    background-color: #f6f6f6;
    color: #ff9138;
    border: 2px solid #ff9138;
}

.button-inline {
    display: inline-block !important;
    width: 162px !important;
}
