.custom-table {
    /* --bs-table-accent-bg: #FF9138; */
    --bs-table-striped-color: #535261;
    --bs-table-striped-bg: #fff2e7;
    translate: -5px;
}
.custom-table > thead {
    background-color: #ff9138 !important;
    color: white;
}

.customize-add-button {
    background-color: #fff2e7 !important;
    color: #ff7506 !important;
    font-size: 14px;
}

.keyword-form {
    font-size: 16px;
    font-weight: 600;
}

.search-button {
    position: absolute;
    top: 8%;
    right: 10%;
    width: 30px;
    height: 35px;
    background-color: white;
    border: none;
    color: #ff7506;
}

.checkbox-container {
    background-color: #fff2e7 !important;
}

.form-check {
    margin: 5px 0;
}

.button-container button {
    width: 150px;
}

.btn-primary {
    background-color: #FF9138;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #FF9138;
    color: #fff;
}

.btn-outline-primary {
    background-color: #fff2e7;
    color: #ff7506;
    border: #ff7506 1px solid;
}

.btn-outline-primary:hover {
    background-color: #fff2e7;
    color: #ff7506;
    border: #ff7506 1px solid;
}